NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_IKA_SOLANA_GRPC=https://pre-alpha-dev-1.ika.ika-network.net:443
NEXT_PUBLIC_IKA_SOLANA_PROGRAM_ID=87W54kGYFQ1rgWqMeu4XTPHWXWmXSQCcjm8vCTfiq1oY
NEXT_PUBLIC_BITCOIN_EXPLORER_API=https://blockstream.info/testnet/api
NEXT_PUBLIC_RETURN_TESTNET_ADDRESS=tb1q...paste-your-testnet-receive-address
